*{
	margin:0;
	padding:0;
}

.menu{
	display: flex;
	justify-content: space-between;
	color:white;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:15px;
	background-color:  #0099ff;
	padding:7px;
}

.menu button{
	color: white;
	background-color: #005c99;
	padding:5px;
	width:5%;
}

form{
	margin: 20px 0px 2px 10px;
	padding:2px;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:15px;
	font-style:bold;
}

#fullname , #phone {
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:20px;
	border:1px thin #EEEEEE;
	width:40%;
}
#button{
	color:white;
	background-color: #0099ff;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size:18px;
	margin: 20px 0px 20px 0px;
	padding:2px;
	width:40%;
}
.policy{
	color:gray;
}

.policy a{
	color: gray;
	text-decoration:underline;
}

a{
	text-decoration: none;
	text-align:center;
}
	